* {
    margin: 0;
    padding: 0;
}

.history_wrap {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    overflow-y: auto;
}

.history_wrap .item {
    clear: both;
    padding-top: 40px;
}

.history_wrap .item .cont,
.history_wrap .item .image {
    width: 50%;
    box-sizing: border-box;
}

.history_wrap .item .cont {
    float: right;
    padding-left: 5%;
}

/* 짝수 순서 내용 */
.history_wrap .item:nth-child(even) .cont {
    float: left;
    padding-left: 0;
    padding-right: 5%;
}

.history_wrap .item .cont strong {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    color: #1b5db0;
}

.history_wrap .item .cont dl {
    margin-top: 10px;
    font-size: 0;
}

.history_wrap .item .cont dl:first-child {
    margin-top: 0;
}

.history_wrap .item .cont dt,
.history_wrap .item .cont dd {
    display: inline-block;
    font-size: 14px;
}

.history_wrap .item .cont dt {
    width: 30%;
    vertical-align: top;
    font-weight: 600;
    color: #999;
}

.history_wrap .item .cont dd {
    width: 70%;
    word-break: keep-all;
}

.history_wrap .item .image {
    float: left;
    padding-right: 5%;
}

.history_wrap .item:nth-child(even) .image {
    float: right;
    padding-left: 5%;
    padding-right: 0;
}

.history_wrap .item .image img {
    width: 100%;
    border-radius: 10px;
}